<section class="container-fluid bg-gradient-custom-main1 text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- <h1 class="fw-bold">OUR SOCIAL PROJECT</h1> -->
                <img class="img-fluid" src="static/title/sospro.png">
                
                <p>
                    Di sana gunung, di sini gunung, di tengah-tengahnya Pulau Jawa. Wayangnya bingung, dalangnya juga bingung, yang penting bisa ketawa
                </p>
            </div>

            <div class="col-md-6">
                <div style="visibility: hidden;" id="main-showcase" class="d-flex flex-column gap-3">

                    <div class="d-flex gap-3">
                        <div class="flex-fill rounded-4 shadow overflow-hidden" style="height: 200px;">
                            <img src="static/img/comp6.jpg" class="img-fill rounded-4" alt="test">
                        </div>
                        <div class="rounded-4 shadow overflow-hidden" style="width: 150px; height: 200px;">
                            <img src="static/img/comp3.jpg" class="img-fill rounded-4" alt="test">
                        </div>
                    </div>

                    <div class="d-flex gap-3">
                        <div class="flex-fill rounded-4 shadow overflow-hidden" style="height: 150px;">
                            <img src="static/img/comp4.jpg" class="img-fill rounded-4" alt="test">
                        </div>
                        <div class="flex-fill rounded-4 shadow overflow-hidden" style="height: 150px;">
                            <img src="static/img/comp5.jpg" class="img-fill rounded-4" alt="test">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<style>
.img-fill
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
</style>

<script>
// css being weird
window.addEventListener("load", function() 
{
    document.getElementById("main-showcase").style.visibility = "visible"
})
</script>
