.footer-bg-custom1 {
    background: linear-gradient(180deg, #56049E, #140025);
}

.footer-bg-custom2 {
    background: #21003E;
}

.footer-bg-custom3 {
    background: none;
}
.footer-bg-custom4 {
    background: #23006E;
}
