.event_bg_color {
  background-image: linear-gradient(to bottom, #23006E, #21003E);
}

/* Hero */
.hero {
  text-align: left;
  padding: 3rem 1rem;
}

.hero-box {
  font-family: "UniNeue";
  margin: 0cm 1cm 1cm 1cm;
  background: #310c81;
  padding: 4cm 1cm 3cm 2cm;
  border-radius: 20px;
  color:#fff;
  font-size: 20px;
  display: flex;
  box-shadow: 0px 10px 30px #21003E;
}

.hero-box-left{
  width: 50%;

}

.hero-box-right{
  width: 50%;
}

.hero-box-right img{
  width: 90%;
  height: auto;
  padding-left: 2.5cm;
  align-content: flex-end;
}

.hero-headline{
  margin: -1cm 0cm -2cm 0cm;
}
.hero-headline img {
  flex: 1;
  max-width: 90%; 
  height: auto; 
}

/* Events */

.events {
  font-family: "UniNeue";
  color: #fff;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  align-items: center;
  margin: 1.2cm;
}

.event.reverse {
  flex-direction: row-reverse;
}

.event img {
  flex: 0 0 auto;
  width: 17cm;
  height: 12cm;
  object-fit: cover;   /* crops nicely if aspect ratio differs */
  border-radius: 20px;
  margin-right: 1cm;
}
.event .info {
  font-size: 20px;
  flex: 2;
  margin: 0cm 1cm 0cm 1cm;
}
.event .info h3 {
  font-family: "Request";
  font-size: 70px;
}

/* Responsive */
@media (max-width: 768px) {
  .event {
    flex-direction: column;
    text-align: center;
  }
  .event.reverse {
    flex-direction: column;
  }
}