{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <section class="events">
            <div class="event">
            <div class="img"><img src="../../../static/img/comp_example1.png"/></div>
            <div class="info">
                <h3>EVENT 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat libero ac eros dictum, eget pretium orci luctus.</p>
            </div>
            </div>
        </section>
    </div>
</section>